<div class="fixed_header">	
	<div class="row-content">
		<div class="column six logo">
			<%= image_tag('logo.png', :height => 45, :class => "logo_img") %>
		</div>
		<div class="column six reset">
			<p class="slogan">Because my eyes get tired looking at Github</p>
		</div>
	</div>
</div>
<div class="clear"></div>