<div class="fixed_header">	
	<div class="row-content">
		<div class="column six logo">
			Gittofolio
		</div>
		<div class="column six">
			<p class="slogan">Because my eyes get tired looking at Github</p>
		</div>
	</div>
</div>
<div class="clear"></div>