<div class="small-12 columns">

	<div class="welcome text-center">
		<p class="notice"><%= notice %></p>
		<p class="alert"><%= alert %></p>
		<div class="slogan"></div>
		<div class="text-left intro">
			<h6><i class="fa fa-asterisk"></i>Turn your Github projects into a portfolio</h6>
			<hr />
			<p>It's a real pain when you have to think about making a portfolio for your awesome projects. Especially when you want to spend time on your portfolio pieces rather than the portfolio itself. Gittofolio will turn your Github projects into a displayable, nicely layed out portfolio. All you have to do is sign in with Github and that's it! Or, if you want to look at other people's projects, Gittofolio will make it easier to navigate through information with an organized front-end.</p>
		</div>
		<a href="<%= @oauth_link %>" class="button expand">Sign-in with Github</a>
	</div>

</div>
