<div class="footer">
	<div class="row-content">
		<div class="column twelve">
			<p class="show_login">Logged in as <span class="show_login_color"><%= @user.login %></span></p>
		</div>
	</div>
</div>