<div class="fixed_header">	
	<div class="row-content">
		<div class="column six logo"><!-- Gitto<span class="change_color">folio</span> --><%= @first_name %><span class="change_color"><%= @last_name %></span></div>
		<div class="column six">
			<ul class="nav reset">
				<li><a href="#">Home</a></li>
				<li><a href="#">About</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		</div>
	</div>
</div>
<div class="clear"></div>