<div class="fixed_header">	
	<div class="row-content">
		<div class="column three logo">Gitto<span class="change_color">folio</span></div>
		<div class="column nine">
			<ul class="plain reset nav">
				<li><a href="#">Home</a></li>
				<li><a href="#">About</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		</div>
	</div>
</div>
<div class="clear"></div>