<header class="row row-header">
	<div class="row-content buffer even">
		<p>test</p>
	</div>
</header>

<p><%= params[:user_name] %></p>

<% @languages.each do |language| %>
	<h3><%= language %></h3>
	<hr />
	<% @repositories.each do |repo| %>
		<% if repo[:language] == language %>
			<%= repo[:name] %><br />
			<%= repo[:description] %>
		<% end %>
	<% end %>
<% end %>