.bodywrap {
	height: auto;
	font-family: 'Source Sans Pro';
	font-weight: 300;
	margin-top: 60px;
	color: #1c1c1c;
	display: none;
	z-index: 0;
}

.bodywrap a {
	text-decoration: none;
}

/* ------ HEADER ------ */
.fixed_header {
  	width: 100%;
  	height: 60px;
  	position: fixed;
  	top: 0;
  	left: 0;
  	background-color: white;
  	z-index: 1;
  	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

.logo {
	margin: 0;
	padding: 0;
	font-size: 20px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 7px;
	line-height: 60px;
	color: lightblue;

}

.change_color {
	color: darkblue;
}

.on_gittofolio {
	font-size: 14px;
	letter-spacing: 2px;
	padding-left: 5px;
	font-weight: 300;
	color: gray;
	vertical-align: top;
	line-height: 56px;
}

.nav {
	float: right;
}

.nav li {
	line-height: 60px;
	display: inline;
	margin-left: 15px;
}

.nav li a {
	color: #1c1c1c;
	font-size: 16px;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.nav li a:hover {
	color: #CB1B45;
}
/* ------ END ------ */

.user_window {
	background: url('bg2.png');
	padding-top: 70px;
	padding-bottom: 70px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2) inset, 0 1px 5px rgba(0, 0, 0, 0.2) inset;
}

.avatar {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10%;
	border: solid 2px white;
}

.language_pie {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 30px;
}

.label_wrap {
	margin: 0 auto;
}

.color_each {
	font-size: 10px;
	line-height: 20px;
	text-align: center;
	min-width: 75px;
	margin: 0 auto;
	margin-bottom: 10px;
	color: white;
	text-transform: uppercase;
	border: solid 2px white;
}

.list_color {
	color: black;
}

/* ------ FILTERING ------ */
.filterControl {
	margin: 0;
	padding: 0;
}

.filterControl li {
	margin-top: 30px;
	margin-bottom: 20px;
	margin-right: 15px;
	display: inline-block;
	cursor: pointer;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

#filterGrid{
/*	width: 640px; 
	text-align: justify;*/
	margin: 0;
	padding: 0px;
	font-size: 0.1px;
}

#filterGrid:after{
	content: '';
	display: inline-block;
	width: 100%;
}

#filterGrid .mix{
	display: none;
	opacity: 0;
	width: 196px;
	vertical-align: top;
	margin: 10px;
	background: lightblue;
	color: #fff;
	font-size: 14px;
	border: solid 2px white;
}

#filterGrid .mix a {
	text-decoration: none;
}

#filterGrid .mix h4 {
	margin: 0;
	padding-bottom: 5px;
	color: white;
	font-weight: 300;
	line-height: 20px;
	text-align: center;
	text-decoration: none;
}

#filterGrid .gap{
	display: inline-block;
	width: 200px;
}
/* ------ END ------ */

.index_language {
	font-size: 16px;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.repo_list {
	font-weight: 200;
	font-size: 12px;
}

.item {
	background-color: lightgray;
	width: 215px;
	margin-bottom: 10px;
	font-size: 12px;
	overflow: hidden;
}

.item img {
	height: 100px;
}

.item_description {
	height: 30px;
}

/* ------ DETAIL PAGE ------ */
.repo_name {
	padding-top: 25px;
}

.screenshot {
	margin-bottom: 25px;
}

.show_readme {
	font-size: 16px;
	font-family: 'Source Sans Pro';
}

.repo_file a {
	text-decoration: none;
	color: white;
}

.repo_directory a {
	text-decoration: none;
	color: blue;
}

.repo_file,
.repo_directory {
	display: inline-block;
	vertical-align: top;
	width: 85px;
	height: 85px;
	border: solid 2px white;
	margin: 2px;
	padding: 0;
	margin-bottom: 3px;
	background-color: white;
	text-align: center;
}

.repo_file h4 {
	margin: 0;
	padding: 0;
}

.repo_directory h4 {
	margin: 0;
	padding: 0;
}

.file_box {
	height: 80%;
	background-color: lightblue;
}

.directory_box {
	height: 80%;
	background-color: darkblue;
}

.show_dirs {
	color: blue;
}
/* ------ END ------ */

/* ------ FOOTER ------ */
.footer {
	padding-top: 50px;
}

.footer p {
	text-align: right;
}

.show_login {
	font-size: 14px;
}

.show_login_color {
	color: lightblue;
}
/* ------ END ------ */

/* ------ DETAIL PAGE ------ */
.repo_name {
	font-weight: 200;
	text-transform: uppercase;
	letter-spacing: 3px;
}

.show_homepage {
	-moz-transform: scale(1,1);
	-webkit-transform: scale(1,1);
	-o-transform: scale(1,1);
	-ms-transform: scale(1,1);
	overflow: hidden;
	height: 500px;
	width: 100%;
	border: solid 1px lightgray;
}

.file_name {
	font-weight: 200;
	font-size: 12px;
}

/* ------ MODAL ------ */
#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

.hide_content {
	display: none;
}

.show_content {
	background-color: white;
	width: 80%;
	height: 80%;
	overflow: scroll;
}

.show_content h2 {
	margin: 0;
	padding: 0;
	font-weight: 200;
	font-size: 18px;
	text-indent: 30px;
	line-height: 60px;
	background-color: lightblue;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

.show_content pre {
	font-size: 14px;
	font-family: 'Source Sans Pro';
	font-weight: 300;
	padding: 30px;
}