.block {
	h4 {
		border-bottom: solid 1px lightgray;
		margin-bottom: 10px;
	}
	table {
		tbody {
			tr {
				td.highlight {
					color: teal;
				}
			}
		}
	}
}

.reveal-modal {
	h4 {
		border-bottom: solid 1px lightgray;
		margin-bottom: 10px;
	}
}