// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.welcome {
	text-align: center;
	padding: 50px;
	margin-top: 280px;
}

.welcome h3 {
	font-size: 30px;
	color: lightblue;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin-bottom: 50px;
}

.login_button {
	padding: 20px;
	background-color: lightblue;
	border: solid 2px white;
	color: white;
	text-transform: uppercase;
}