// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.logo_img {
	position: relative;
	top: 8px;
}

.slogan {
	margin: 0;
	padding: 0;
	line-height: 60px;
	letter-spacing: 1px;
	text-align: right;
	text-transform: uppercase;
	font-size: 14px;
}

.welcome,
.logged_in {
	text-align: center;
	padding-top: 100px;
	padding-bottom: 200px;
	display: block;
	margin: 0 auto;
	letter-spacing: 1px;
}

.welcome h3 {
	font-size: 30px;
	color: white;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin-bottom: 50px;
}

.login_button {
	padding: 20px;
	background-color: lightblue;
	border: solid 2px white;
	color: white;
	text-transform: uppercase;
}

.logged_in h3 {
	font-size: 30px;
	color: white;
	letter-spacing: 2px;
	text-transform: uppercase;
}

input[type='text'] {
	line-height: 25px;
	border: solid 2px white;
	padding: 10px;
	background-color: rgba(255,255,255,1);
}

input[type='submit'] {
	background-color: rgba(0,0,0,0.2);
	padding: 10px;
	color: white;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-indent: 2px;
	border: solid 2px white;
	line-height: 20px;
	margin-left: 10px;
	position: relative;
	top: -2px;
}

.search_results h3 {
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 3px;
}

.show_results {
	text-align: center;
}

.each_result {
	display: inline-block;
	width: 196px;
	height: 255px;
	margin: 10px;
	border: solid 2px #f8f8f8;
	background-color: #f8f8f8;
	overflow: hidden;
}

.result_text {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 2px;
}

.result_text p {
	margin: 0;
	font-size: 12px;
	font-family: 'Courier New';
	color: #1c1c1c;
}